{% extends 'base.html.twig' %}

{% block title %}Nous contacter — Esportify
{% endblock %}

{% block body %}
	<div class="container-fluid mx-auto">
		<!-- Logo Esportify  -->
		<div class="container-lg text-center">
			<img class="img-logo img-fluid" src="{{ asset('build/images/logo/logo-modifie.png') }}" alt="logo esportify">
		</div>
		<!-- Titre de la page -->
		<h1 class="text-clair2 text-center pt-2">Contactez-nous !</h1>

		<!-- Formulaire de Contact -->
		<section class="section_contact d-flex text_description justify-content-center my-4 mt-4">
			{{ form_start(contactForm, {'attr': {'class': 'form_contact needs-validation bg-clair1 rounded-4 text-lightBlue px-5 py-4', 'id': 'searchForm'}}) }}

				<!-- Informations personnelles -->
				{{ form_row(contactForm.name, {'label': false}) }}
				{{ form_row(contactForm.surname, {'label': false}) }}
				{{ form_row(contactForm.pseudo, {'label': false}) }}
				{{ form_row(contactForm.email, {'label': false}) }}

				<!-- Rôle de l'utilisateur -->
				<div class="role_user d-flex flex-column">
					<p class="text-center text-decoration-underline mb-2">Qui êtes-vous ? :</p>
					{{ form_widget(contactForm.role) }}
				</div>

				<!-- Type de question -->
				<div class="question_type d-flex flex-column mt-3">
					<p class="text-center text-decoration-underline mb-2">Votre message concerne :</p>
					{{ form_widget(contactForm.subject) }}
				</div>

				<!-- Message -->
				<div class="mt-3">
					{{ form_row(contactForm.message, {'label': false}) }}
				</div>

				<!-- Bouton d'envoi -->
				<div class="d-flex justify-content-center mt-4 mb-2">
					<button class="btn-custom-lg-green btn btn-greenFluo" type="submit">Envoyer le message</button>
				</div>

			{{ form_end(contactForm) }}
		</section>
	</div>
{% endblock %}
