{% extends 'base.html.twig' %}

{% block title %}Connexion — Esportify{% endblock %}

{% block body %}
	<div class="container-fluid mx-auto">  
        <!-- Logo Esportify  -->
        <div class="container-lg text-center">
            <img class="img-logo img-fluid" src="{{ asset('build/images/logo/logo-modifie.png') }}" alt="logo esportify">
        </div>
        <!-- Titre de la page -->
        <h1 class="text-clair2 text-center pt-2">Connexion</h1>
        <!-- Formulaire de Connexion -->
        <section class="container-lg section_contact d-flex text_description justify-content-center my-4 mt-4"> 
            <form   class="form_contact bg-clair1 rounded-4 text-lightBlue px-5 py-4" 
                    id="loginForm"
                    action="{{ path('app_login') }}" 
                    method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div>
                    <label for="pseudo">Pseudo</label>
                    <input class="form-control input_filter mb-3" minlength="2" maxlength="100" placeholder="Votre pseudo" id="pseudo" name="pseudo" type="text" value="{{ last_username }}" required autocomplete="username" />
                </div>

                <div>
                    <label for="password">Mot de passe</label>
                    <input class="form-control input_filter mb-3" placeholder="Votre mot de passe" id="password" name="password" type="password" required autocomplete="current-password" />
                </div>

                <input  type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="d-flex justify-content-center mt-4 mb-2">
                    <button class="btn-custom-md-green btn btn-greenFluo" type="submit" value="Se Connecter">Se connecter</button>
                </div>

                <div class="mb-3">
                    <input type="checkbox" id="remember_me" name="_remember_me">
                    <label for="remember_me">Se souvenir de moi</label>
                </div>

                <div class="forget_password text_description text-center">
                    <a class="text-lightBlue" href="{{ path('forgot_password') }}">Mot  de passe oublié ?</a>
                </div>
            </form>

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            
        </section>

        <section class="container-lg section_contact d-flex text_description justify-content-center">
          <div class="text-beige border border-beige rounded p-2">
            <p>Pas encore inscrit ?</p>
            <a class="nav-link text-center fs-6" href="{{ path('app_register') }}"><span class="px-2">C'est par içi</span><i class="fa-solid fa-arrow-right fa-lg"></i></a>
          </div>
        </section>
    </div>

{% endblock %}